<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }}</title>
    <meta
      name="description"
      content="Kingsley is a technical product manager based in San Francisco, California."
    />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@heydamali" />
    <meta name="twitter:title" content="Kingsley Okonkwo | Product Manager" />
    <meta
      name="twitter:description"
      content="Kingsley is a technical product manager based in San Francisco, California."
    />
    <meta name="twitter:creator" content="@heydamali" />

    <meta
      name="twitter:image"
      content="https://kingsleyokonkwo.github.io/img/pfp.JPG"
    />

    <!-- Open Graph data -->
    <meta property="og:title" content="Kingsley Okonkwo | Product Manager" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://heydamali.github.io" />
    <meta
      property="og:image"
      content="https://kingsleyokonkwo.github.io/img/pfp.JPG"
    />
    <meta
      property="og:description"
      content="Kingsley is a technical product manager based in San Francisco, California."
    />
    <meta property="og:site_name" content="Kingsley Okonkwo" />

    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145914539-1"></script>
    <script>
      const localhostNames = ['localhost', '127.0.0.1'];
      if (window.location && localhostNames.indexOf(window.location.hostname) < 0){
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145914539-1');
      }
    </script>
  </head>
  <body>
    {{content}}
  </body>
</html>
